.guitarras-grid { 
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .guitarras-grid { 
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .guitarras-grid { 
        grid-template-columns: repeat(3, 1fr);
    }
}

.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    max-width: 90rem;
    align-items: center;
}
.guitarra .contenido {
    padding: 1rem;
}
.guitarra .contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
}
.guitarra .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    font-size: 1.5rem;
}
.guitarra .price {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
}
.guitarra .link {
    text-decoration: none;
    display: block;
    color: var(--black);
    margin-top: 1.5rem;
    padding: .6rem .5rem;
    text-align: center;
    text-transform: lowercase;
    transition: all .5s ease-in-out;
    border-radius: 25rem;
    font-size: 1.6rem;
}
.guitarra .link:hover {
    background-color: var(--primary);
    color: var(--white);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.formulario label {
    font-size: 2.2rem;
    margin-bottom: .8rem;
}
.formulario select {
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
}
.formulario input[type="submit"] {
    border-radius: 25rem;
    background-color: var(--white);
    border: none;
    padding: 1rem .5rem;
    color: var(--primary);
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    margin: 1rem auto 0 auto;
}
@media (min-width: 768px){
    .formulario input[type="submit"] {
        max-width: 30%;
    }
}
.formulario input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;
}

.contenido a.back__to__market {
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
    margin-top: 8rem;
    color: var(--primary);
    width: 25%;
    text-wrap: nowrap;
}
.contenido a.back__to__market:hover {
    background-color: transparent;
    border-bottom: 1px solid var(--primary);
}