:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: var(--black); /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color del 'pulgón' (scroll) */
    border-radius: 6px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del 'pulgón' al pasar el ratón */
}

img {
    max-width: 100%;
    height: auto;
}

[class*="contenedor"],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}

[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}
select {
    cursor: pointer;
}

.outfit-100 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.outfit-900 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* HEADER */
.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 /.5)), url('/img/header.jpg');
    padding: 6rem 0;
    background-size: cover;
    background-position: center center;
}   

.header .logo {
    width: 25rem;
}

.header .barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
}
.header .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.header .navigation a.active {
    outline: 1px solid var(--primary);
}
.header .navigation a:hover {
    background-color: var(--primary);
    text-shadow: 0 0 2px black;
}
.header .navigation a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    transition: background-color .7s ease-in-out;
    border-radius: 25rem;
    text-wrap: nowrap;
    text-align: center;
}

.header .navigation a.cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navigation a.cart img {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header .navigation {
        margin-top: 0;
        flex-direction: row;
    }
}
/* FOOTER  */
.footer {
    background-color: var(--black);
    padding: 6rem 0;
    margin-top:  6rem;
}
.footer .navigation {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}
.footer .navigation a,
.footer .copyright {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;  
}
.footer .navigation a:last-of-type {
    display: none;
}
.footer .copyright {
    text-align: center;
    text-transform: lowercase;
}
@media (min-width: 768px) {
    .footer .navigation {
        flex-direction: row;
        gap: 3rem;
    }
    .footer .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.error, a.error-link {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

a.error-link {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
}
.link {
    text-decoration: none;
    display: block;
    color: var(--black);
    margin-top: 1.5rem;
    padding: .5rem .5rem;
    text-align: center;
    text-transform: lowercase;
    transition: all .5s ease-in-out;
    border-radius: 25rem;
    font-size: 1.6rem;
}
.link:hover {
    background-color: var(--primary);
    color: var(--white);
}